##############################
## Folders                  ##
##############################

##############################
## Netbeans conf            ##
##############################
test4_0_gexf.csv
csv_100W.csv
